<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    
    {{ $themeToggleJS := resources.Get "js/theme.js" | minify | fingerprint }}
    <script src="{{ $themeToggleJS.RelPermalink }}"></script>

    {{ $styles := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

    {{ $syntaxCSS := resources.Get "css/syntax.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $syntaxCSS.RelPermalink }}">
</head>
<body class="{{ if and (not .IsHome) (or (eq .Type "categories") (eq .Section "categories")) }}category-active{{ end }}">
    <div class="container">
        {{ partial "header.html" . }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
    </div>
</body>
</html>