{{ define "main" }}
    <h1>Categories</h1>
    {{ partial "categories.html" . }}
    
    {{ $pages := where site.RegularPages "Type" "posts" }}
    {{ if ne .RelPermalink "/" }}
        {{ if eq .RelPermalink "/posts/" }}
            {{ $pages = where .Site.RegularPages "Section" "posts" }}
        {{ else }}
            {{ $pages = .Pages }}
        {{ end }}
    {{ end }}
    
    {{ range $pages.GroupByDate "2006" }}
    <section class="posts-year">
        <h2>{{ .Key }}</h2>
        
        {{ range .Pages }}
        <article class="post-item">
            <div class="post-date"><a href="{{ .Permalink }}">{{ .Date.Format "Jan 2" }}</a></div>
            <div class="post-content">
                <div class="post-header-line">

                    {{ if .Params.categories }}
                        <a href="/categories/{{ with .Params.categories }}{{ index . 0 | urlize }}{{ end }}">
                            <span class="post-category">{{ with .Params.categories }}{{ index . 0 }}{{ end }}</span>
                        </a>
                    {{ end }}
                    <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
                </div>
                <div class="post-summary">
                    {{ if .Params.summary }}
                        {{ .Params.summary }}
                    {{ end }}
                </div>
            </div>
        </article>
        {{ end }}
    </section>
    {{ end }}
{{ end }}
